/*css stylesheet */
body{
    /*background-color: #3f3f3f;*/
}
h3{
  text-align: center;
}
img{
    width:auto;
    height:200px;
    margin-left: 5%;
}

#video{
  border-style: solid;
  border-radius: 25px;
  background-color: #000000;
  margin-left: 15%;
  height: 350px;
  margin-right: 20%;
  margin-bottom: 20px;
}

a{
  color: #ffffff;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

h4{
  text-align: left;
}

h5{
  text-align: left;
  padding-left: 20px;
  color: #ffffff;

}

p{
    color: white;
    word-wrap:break-word;
    margin-right: 10%;
    margin-left: 40%;
    padding-left: 20px;
}

.menu {
    list-style: upper-latin;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

.menu input {
    width: 300px;
    background: transparent;
    border: 2px solid #393939;
    border-radius: 4px;
    color: #000000;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 600;
    padding: 6px;
    margin-top: 10px;
}

.menu button {
    width: 240px;
    height: 40px;
    background: #000000;
    border: 2px solid #ffffff;
    cursor: pointer;
    border-radius: 4px;
    color: #ffffff;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 600;
    padding: 6px;
    margin-top: 10px;
}

li{
    font-size: x-large;
    color: #3f3f3f;
    list-style: none
}


